.header {
  background-color: rgb(54, 22, 22);
}

.nav-link {
  color: aliceblue;
}

.nav-link:hover {
  background-color: gray;
  color: white;
  border-radius: 10px;
}

.footer {
  background-color: rgb(54, 22, 22);
  color: white;
}

.Link {
  text-decoration: none;
  color: white;
}

.Link:hover {
  text-decoration: none;
  color: white;
  font-size: 19px;
}

.fa-instagram {
  color: rgb(244, 8, 149);
}

.fa-instagram:hover {
  font-size: 19px;
  color: rgb(244, 8, 149);
}

.fa-facebook {
  color: blue;
}

.fa-facebook:hover {
  font-size: 19px;
  color: blue;
}

.fa-github {
  color: black;
}

.fa-github:hover {
  font-size: 19px;
  color: black;
}

.fa-linkedin {
  color: blue;
}

.fa-linkedin:hover {
  font-size: 19px;
  color: blue;
}

html,
body {
  user-select: none;
}

.main {
  font-size: 120px;
}

.image-main {
  background-image: url("https://4kwallpapers.com/images/walls/thumbs_3t/10219.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.login-container {
  border-bottom-left-radius: 50px;
}

.login-image {
  /* background-image: url("https://png.pngtree.com/background/20210715/original/pngtree-color-contrast-gradient-login-interface-login-box-picture-image_1319414.jpg"); */
  background-image: url("https://4kwallpapers.com/images/wallpapers/abstract-background-colorful-background-blue-background-3440x1440-8624.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
